@import "ImageSelector.css";
@import "ImageBrowser.css";

.uncFormGenerator fieldset {
    margin: 0 0 1em 0em;
    padding: 0em 1em 1em 1em;
    border: 1px solid black;
    display: inline-block;
    position: relative;
}
.uncFormGenerator fieldset fieldset fieldset fieldset {
    background-color: #E8E8E8;
}
.uncFormGenerator fieldset fieldset fieldset {
    background-color: #F0F0F0;
}
.uncFormGenerator fieldset fieldset {
    background-color: #F8F8F8;
}
.uncFormGenerator legend {
    font-weight: bold;
    padding: 0 2px;
}
.uncFormGenerator label {
    /* text-align: right; */
    /* min-width: 6em; */
    display: inline-block;
    font-weight: bold;
}
/*
.uncArrayManager + .uncFieldManager {
    margin: 1em 0;
} */
.uncFormGenerator .dijitTextArea {
    width: 20em;
    font-size:16px;
}
.uncFormGenerator .dijitTextAreaDisabled {
    background: url("images/buttonDisabled.png") repeat-x scroll left top #FFF;
}
.uncFormGenerator .RichTextEditable {
    width: 50em;
    margin-left: 7em;
}
.uncFormGenerator .description {
    margin-top: 0;
    min-height: 4px;
    max-width: 50em;
}
.uncFormGenerator label ~ .description {
    margin-left: 7em;
}
.uncFormGenerator .deleteIcon { 
    background-image:url(images/cross.png); 
    width:16px; 
    height:16px; 
}
.uncFormGenerator .addIcon { 
    background-image:url(images/add.png); 
    width:16px; 
    height:16px; 
}
.uncFormGenerator .arrayControl {
    float: right;
    cursor: pointer;
    position:relative;
    left:6px;
}
.uncFieldManager .arrayControl {
    display: inline;
    float: none;
    position:relative;
    top:4px;
}
.uncFieldManager {
    margin-bottom: 1em;
}
.uncFieldManager #container {
    vertical-align: top;
    display: inline;
}

.SayOrPlaySelector label {
    min-width: 0px;
}

.SayOrPlaySelector {
    display: inline-block;
    width:27em;
}

.AudioSelector {
    display: inline-block;
}

.uncArrayGridManager .AGMControlsContainer{
    width:145px;
    vertical-align:top;
}

.uncArrayGridManager .AGMControls {
    display: inline-block;
    vertical-align: top;
}

.uncArrayGridManager .AGMEditor {
    display: inline-block;
}

.dojoxGridMasterHeader { display: none; }

.AudioSearchUpload label {
    line-height: 2.5em;
}
